table {
  width: 70%;
  border: 1px solid #222;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

th,
td {
  border: 5px solid black;
  padding: 5px;
  font-size: 1.2em;
  border-top-color: white;
  border-left-color: white;
  color: cornsilk;
}
body {
  margin-top: 0px;
  background-image: url("Image/back2.jpg");
}

#container {
  width: 1200px;
  margin: 0px auto;
}

aside {
  width: 20%;
  height: 1000px;
  float: left;
  background-color: #222;
}
#namecard {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 200px;
  color: aliceblue;
}
#mypic {
  width: 100%;
}
h1 {
  font-size: 25px;
  color: white;
}
#detail {
  width: 80%;
  color: aliceblue;
  margin: 0px auto;
}
#sns {
  width: 80%;
  color: aliceblue;
  margin: 0px auto;
}
#main {
  width: 70%;
  margin-left: 10%;
  height: 1000px;
  float: left;
}
.subtitle {
  color: aliceblue;
  margin-bottom: 20px;
  margin-top: 150px;
}
.fwhite {
  color: white;
}
.leftsec {
  width: 50%;
  float: left;
}
.botsec {
  float: left;
}
li {
  color: white;
}

#git {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
}

.text1 {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#img1 {
  width: 80px;
  cursor: pointer;
}
#time {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: aliceblue;
}
#colorTab {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}
