<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR" />
    <title>Insert title here</title>
    <style>
      table {
        /* caption-side: bottom; */
        border: 2px solid rgb(0, 0, 0);
        /* border-style:solid ; */
        /* border-color: blue; */
        /* border-width: 10px; */
        border-collapse: collapse;
      }
      td,
      th {
        padding: 10px 20px;
        /* padding : 5px 10px 15px 20px;  상 우 하 좌 */
        text-align: center;
        border: 1px dotted red;
      }
      .info {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <table v-if="!isInfo">
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>이메일</th>
          <th>웹사이트</th>
          <th></th>
        </tr>
        <tr v-for="(i, index) in list">
          <td>{{index+1}}</td>
          <td>
            <span v-if="index<5" style="color: blue">{{i.name}}</span>
            <span v-else>{{i.name}}</span>
          </td>
          <td>{{i.email}}</td>
          <td>{{i.website}}</td>
          <td><button @click="fnInfo(i)">상세보기</button></td>
        </tr>
      </table>
      <div v-if="isInfo" class="info">
        이름:<span>{{inf.name}}</span>, 메일: <span>{{inf.email}}</span>
        <div><button @click="isInfo = !isInfo">되돌아가기</button></div>
      </div>
      <!-- <input v-model="inf.name" /> -->
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            name: "name",
            email: "email",
            list: [],
            inf: {},
            isInfo: false,
          };
        },
        methods: {
          fnGetList() {
            $.ajax({
              url: "https://jsonplaceholder.typicode.com/users",
              dataType: "json",
              type: "GET",
              data: {},
              success: (data) => {
                this.list = data;
              },
            });
          },
          fnInfo(item) {
            var self = this;
            self.inf = item;
            if (item.index < 5) {
            }
            self.isInfo = true;
          },
        },
        mounted() {
          this.fnGetList();
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
