<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rits page</title>
    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js"></script>
    <!-- <script src="vue.js"></script> -->
  </head>
  <body id="app">
    <div class="black-bg" v-if="infoState" @click="infoState= !infoState">
      <div class="white-bg" @click.stop>
        <img :src="info.infoimg" />
      </div>
    </div>
    <div class="container">
      <div class="top-menu-bar">
        <a @click="bState='main'">Home</a>
        <a @click="bState='keyboard'">Keyboard</a>
        <a @click="bState='templates'">Templates</a>
      </div>
      <div class="main-board" v-show="bState == 'main'">메인 내용</div>

      <div class="keyboard-board" v-show="bState == 'keyboard'">
        <div v-for="(item, index) in item" :key="item.name" class="keyboard">
          <div class="keybodardImg">
            <img :src="item.imgs" />
            <div class="img-click" @click="nameClick(item)">상세보기</div>
          </div>
          <h3 @click="nameClick(item)">{{item.name}}</h3>
          <p>{{item.chuk}}</p>
          <div>
            <button @click="item.cnt++">Click!</button>
            <span>추천수 : {{item.cnt}}</span>
          </div>
        </div>
      </div>
      <div class="templates-board" v-show="bState == 'templates'"></div>
      <button @click="darkMode" id="darkBtn">
        <img
          :src="isDarkMode ? './asset/dark.light.png' : './asset/night.png'"
          alt="다크모드 전환"
        />
      </button>
    </div>
  </body>
</html>
<script type="module">
  import data from "./script.js";
  const app = Vue.createApp({
    data() {
      return {
        bState: "templates",
        v: false,
        infoState: false,
        item: data,
        info: {},
        isDarkMode: false,
      };
    },
    methods: {
      nameClick(item) {
        this.infoState = true;
        this.info = item;
      },
      darkMode() {
        this.isDarkMode = !this.isDarkMode;
        $("body").toggleClass("dark-mode");
      },
    },
    mounted() {
      $(".templates-board").load("./templates.html");
    },
  });
  app.mount("#app");
</script>
