#box1:hover {
  transform: rotate(50deg);
}
#box2:hover {
  transform: rotate(-30deg);
}
#box3:hover {
  transform: rotateY(60deg);
}
#box4:hover {
  transform: rotate3D(2, 1, -1, 50deg);
}
#box5:hover {
  transform: skewX(30deg);
}
#box6:hover {
  transform: scaleY(2);
}
#box7:hover {
  transform: scale(2);
}
.per {
  perspective: 300px;
}
